Codigo/Obligatorio/DataAccess/Migrations/
Codigo/Obligatorio/DataAccess/obj/Debug/DataAccess.Migrations._12.resources
Codigo/Obligatorio/DataAccess/obj/Debug/DataAccess.Migrations._13.resources
Codigo/Obligatorio/DataAccess/obj/Debug/DataAccess.Migrations._14.resources
Codigo/Obligatorio/DataAccess/obj/
Codigo/Obligatorio/Modelo/obj/Debug/Modelo.csproj.FileListAbsolute.txt
