Codigo/Obligatorio/DataAccess/obj/
Codigo/Obligatorio/DataAccess/bin/
Codigo/Obligatorio/Modelo/obj/
Codigo/Obligatorio/Modelo/bin/
Codigo/Obligatorio/WebApp/obj/
Codigo/Obligatorio/WebApp/bin/
Codigo/Obligatorio/BusinessLogic/obj/
Codigo/Obligatorio/BusinessLogic/bin/
