@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
    <h1>Universidad ORT: </h1>
    <h2>Taller de diseño de aplicaciones</h2>

</hgroup>

<section class="contact">
    <header>
        <h3>Pablo Sanguinet</h3>
    </header>
    <p>
        <span class="label">Número de estudiante: </span>
        <span>156421</span>
    </p>
    <p>
        <span class="label">Email: </span>
        <span>sanguinet@gmail.com</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Giancarlo Vanoni</h3>
    </header>
    <p>
        <span class="label">Número de estudiante: </span>
        <span>179766</span>
    </p>
    <p>
        <span class="label">Email: </span>
        <span>giancarlo.vanoni@gmail.com </span>
    </p>
</section>

