@model WebApp.ViewModel.VM_HistoriaMedica
@{
    ViewBag.Title = "Hitoria Médica";
}

<h2>Historia Médica</h2>

<h2>Búsquedas en Historias médicas</h2>

<div id="gridTable">
    <table class="display">
        <thead>
            <tr>
                <th>
                    Número
                </th>
                <th>
                    Tipo de Informe
                </th>
                <th>
                    Fecha creación
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListadoInformeDeConsultas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Motivo)
                    </td>
                    <td>
                        @Html.ActionLink("Ver mas", "Edit", new { id = item.EspecilidadID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        ApplyDataTables("gridTable");
    });
</script>
