@model IEnumerable<WebClinicaMedica.Models.VM_Especialidad>

<div class="form-horizontal">
    <h4>Especialidades</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad.Nombre)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
                </td>

                <td>
                    @Html.CheckBox("chkDoctor_Especialidad_" + item.Especialidad.EspecialidadID, item.Activa, new { id = "chkDoctor_Especialidad_" + item.Especialidad.EspecialidadID, @class = "chkDoctor_Especialidad" })
                </td>
            </tr>

        }
    </table>
</div>