
@{
    ViewBag.Title = "Index";
}

<hgroup class="title">
    <h1>Listado de reportes:</h1>
    
</hgroup>

<article>
    <ul>
        <li>@Html.ActionLink("Número de consultas mensuales de un doctor en un período	dado", "NumeroDeConsultasMensuales", "Reporte")</li>
        <li>@Html.ActionLink("Doctor más visitado y	el menos visitado en un período	dado", "DoctorMasyMenosVisitado", "Reporte")</li>
       
    </ul>
</article>

<aside></aside>